<h1> Welcome to Git Twit </h1>

<form action="/register" method="post">
  <input name="team_id" placeholder="Your Team Id">
  <input name="github_path" placeholder="Your Github Url">
  <input type="submit" value="Register">
</form>
<button> Sign up with Twitter </button>
