<h1> Meta Data at Unhackathon</h1>
<h3> Number of Registered Repos: </h3>
<h3> Number of Contributors: </h3>
<h3> Average Team Size: </h3>
<h3> Number of Commits: </h3>
<h3> Commits per Hour: </h3>
<h3> Lines per Second: </h3>
<h3> Lines per Minute: </h3>
<h3> Lines per Hour: </h3>
<h3> Popularity of Languages </h3>
<table>
    <thead>
      <tr>
        <td> Name |</td>
        <td> File Extensions |</td>
        <td> Number of Repos containing </td>
        <td> Number of Files Found |</td>
        <td> Lines Written in</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h3> Popularity of Technologies/Frameworks </h3>
<table>
    <thead>
      <tr>
        <td> Name |</td>
        <td> File Extensions |</td>
        <td> Number of Repos containing </td>
        <td> Number of Files Found |</td>
        <td> Lines Written in</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h3> Most popular git comment </h3>
